{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
  ],
  "settings": {
    "import/resolver": {
      "typescript": "<root>/tsconfig.json"
    }
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "curly": ["error", "all"],
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "import/extensions": ["error", "always", {
        "js": "never",
        "ts": "never"
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 1,
      "maxEOF": 1
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "block-like",
          "const",
          "let"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let"
        ],
        "next": [
          "const",
          "let"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      },
      {
        "blankLine": "never",
        "prev": "case",
        "next": [
          "case",
          "default"
        ]
      }
    ],
    "semi": ["error", "never"],
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": true,
      "requireReturnDescription": false,
      "requireParamType": true,
      "requireParamDescription": false,
      "prefer": {
        "return": "returns"
      },
      "preferType": {
        "Null": "null",
        "Undefined": "undefined",
        "Number": "number",
        "Boolean": "boolean",
        "String": "string",
        "array": "Array",
        "object": "Object"
      }
    }],
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline",
      "enums": "always-multiline",
      "generics": "always-multiline",
      "tuples": "always-multiline"
    }],
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/prefer-interface": 0,
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-function-return-type": ["error", {
      "allowExpressions": true,
      "allowHigherOrderFunctions": true
    }],
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "none"
      }
    }]
  }
}
